.dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
    background-color: #ffe4dc;
    padding: 20px;
    width: 80vw;
    text-align: center;
}

@media screen and (max-width: 700px){
    .dialog{
        margin-top: 10px;
        font-size: 25px;
    }
}