.expression{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
}

.expression__item{
    margin: 20px;
    border-bottom: 2px solid #fff;
}

.expression__item_active{
    border-bottom: 2px solid #ff6633;
}